.banner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../assets/bannerDez.png);
    background-size: cover;
    background-position: bottom;
    height: 192px;
    margin-bottom: 64px;

    position: relative;
}

.banner-content{
    position: absolute;
    bottom: 0;
    margin: 0 0 16px 16px;
}

.banner-content h2{
    font-weight: 700;
    color: var(--cor-branco);
    font-size: 22px;
    margin-bottom: 8px;
}

.banner-content p{
    font-weight: 600;
    color: var(--cor-branco);
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
}

.banner-content button{
    padding: 12px 16px;
    border: none;
    background: var(--cor-azul-default);

    color: var(--cor-branco);
    font-weight: 600;
    font-size: 14px;
}

@media screen and (min-width: 481px) { /*TABLET*/
    .banner{
        height: 350px;
    }

    .banner-content{
        margin: 0 0 32px 32px;
    }

    .banner-content h2{
        font-size: 52px;
        margin-bottom: 16px;
    }

    .banner-content p{
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1150px){
    .banner-content{
        margin: 0 150px 32px 150px;
    }
}