body{
    background: var(--cor-branco-palido);
}


.items-header{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 16px auto;
    gap: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-newItem{
    border: none;
    background: var(--cor-azul-default);
    height: 40px;
    padding: 12px 16px;

    color: var(--cor-branco);
    font-weight: 600;
    font-size: 14px;
}

.item-bonus{
    display: flex;
}

.item img{
    width: 156px;
    height: 174px;
}

@media screen and (min-width: 481px){
    .items-header{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
    }
}