.area-produtoDesc {
    width: 100%;
    padding: 0;
    margin: 0;
}

.produtoDesc-img {
    width: 100vw;
}

.produtoDesc-desc {
    padding: 16px;
}

.produtoDesc-title,
.produtoDesc-preco,
.produtoDesc-text {
    margin: 0;
    font-weight: 400;
}

.produtoDesc-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 8px;
    color: var(--cor-cinza-default);
}

.produtoDesc-preco {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--cor-cinza-default);
}

.produtoDesc-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-cinza-default);
    text-align: justify;
}

@media screen and (min-width: 481px) {
    .area-produtoDesc {
        display: flex;
        padding: 32px;
        box-sizing: border-box;
    }

    .produtoDesc-img {
        width: 254px;
        height: 157px;
    }
}

@media screen and (min-width: 1150px) {
    .area-produtoDesc {
        padding: 64px 156px;
        align-items: center;
    }

    .produtoDesc-img {
        width: 560px;
        height: 400px;
        gap: 16px;
    }

    .produtoDesc-title {
        font-weight: 500;
        font-size: 52px;
    }

    .produtoDesc-text{
        font-size: 14px;
    }
}