.fo-contact{
    padding: 16px;
    background-color: var(--cor-azul-baby);
}

.contact-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    gap: 6px;
}

.logo-img{
    width: 40px;
    height: 30px;
}

.logo-title{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
}

.logo-title span{
    color: var(--cor-azul-default);
}

.contact-items{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.contact-items li{
    margin-top: 16px;
}

.contact-items li a{
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-cinza-default);
}
.contact-form{
    margin-top: 32px;
}

.contact-form h3{
    margin: 0 0 4px 0;
}

/* --------------- */
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inpt-label{
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-cinza-baby);
    width: 100%;
    background: var(--cor-branco);
    padding-left: 12px;
    padding-top: 18px;
    border-radius: 4px;
}

.inpt-nome{
    margin-bottom: 16px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 4px;
    padding-left: 12px;
    outline: none;
    
    font-size: 16px;
    color: var(--cor-cinza-default);
    font-weight: 400;
}

.inpt-msm{
    margin-bottom: 16px;
    height: 82px;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 16px;
    outline: none;
}

.inpt-msm::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-cinza-baby);
}

.inpt-btn{
    border: none;
    background: var(--cor-azul-default);
    width: 151px;
    height: 40px;
    padding: 12px 16px;

    color: var(--cor-branco);
    font-weight: 600;
    font-size: 14px;
}

@media screen and (min-width: 481px){
    .fo-contact{
        display: flex;
        justify-content: space-between;
        padding: 32px;
    }

    .contact-links{
        justify-content: left;
        align-items: flex-start;
        width: 50%;
    }

    .contact-items{
        text-align: left;
    }

    .logo-title{
        font-size: 22px;
    }

    /* ---------------- */

    .contact-form{
        width: 50%;
        margin: 0;
    }

    .contact-form h3{
        font-weight: 700;
        font-size: 16px;
    }

    .contact-form form{
        justify-content: left;
        align-items: flex-start;
    }

    .inpt-nome{
        width: 100%;
        height: 40px;
    }

    .inpt-msm{
        width: 100%;
        height: 82px;
    }

}