@import url(./header.css);
@import url(./banner.css);
@import url(./items.css);
@import url(./contact.css);

:root {
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
    --cor-branco-palido: #F5F5F5;
    --cor-azul-baby: #EAF2FD;
    --cor-cinza-default: #464646;
    --cor-cinza-baby: #A2A2A2;
    --cor-azul-default: #2A7AE4;

    --fonte-default: 'Raleway';
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: var(--fonte-default), sans-serif;
}

body {
    margin: 0;
    font-size: 16px;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
}