.header{
    background-color: var(--cor-branco);
    height: 72px;
    padding: 16px 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    /* display: flex; */
}

.header-logo img{
    width: 23px;
    height: 17px;
}

.header-title{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
}

.header-title span{
    color: var(--cor-azul-default);
}

.header-btnLogin{
    width: 130px;
    height: 40px;
    background: var(--cor-branco);
    border: 1px solid var(--cor-azul-default);

    font-size: 14px;
    font-weight: 600;
    color: var(--cor-azul-default);
}

.header-input{
    display: none;
}

.header-btnSearch{
    background: none;
    border: none;
}

@media screen and (min-width: 481px) { /*TABLET*/
    .header{
        position: relative;
        display: flex;
    }

    .header-logo{
        position: absolute;
        left: 16px;
    }

    .header-btnLogin{
        position: absolute;
        right: 16px;
    }

    .header-input{
        position: absolute;
        right: 33%;
        display: block;

        border: none;
        border-radius: 20px;
        background: var(--cor-branco-palido);
        padding: 8px 16px;
        width: 40%;

        font-size: 14px;
        font-weight: 400;
        color: var(cor-cinza-baby);
    }

    .header-btnSearch{
        position: absolute;
        right: 35%;
    }
}

@media screen and (min-width: 1150px){
    .header{
        position: relative;
    }

    .header-logo{
        position: absolute;
        left: 150px;
    }

    .header-btnLogin{
        position: absolute;
        right: 150px;
    }

    .header-input{
        position: absolute;
        left: 25%;
        display: block;

        border: none;
        border-radius: 20px;
        background: var(--cor-branco-palido);
        padding: 8px;
        width: 27%;

        font-size: 14px;
        font-weight: 400;
        color: var(cor-cinza-baby);
    }

    .header-btnSearch{
        position: absolute;
        left: 35%;
    }

    .header-input{
        display: block;
    }
}